/* Definindo o fundo preto */
body {
  margin: 0;
  overflow: hidden;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}
 
/* Estilos para os botões */
body {
    font-family: Arial, sans-serif; /* Definindo uma fonte para os botões */
    margin: 0;
    padding: 0;
  }
  
  .botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupar toda a altura da viewport */
  }
  
  button {
    width: 700px; /* Largura dos botões */
    height: 90px; /* Altura dos botões */
    margin-bottom: 3px; /* Aumentando o espaçamento entre os botões para 3px */
    background-color: #534c4c;
    color: #faf8f8;
    border: none;
    border-radius: 40px; /* Aumentando a curvatura das bordas */
    cursor: pointer;
    font-size: 23px; /* Aumentando o tamanho do texto para 23px */
  }
  
  button:first-child {
    margin-top: 30px; /* Adicionando um espaçamento superior para o primeiro botão */
  }
  
  button:hover {
    background-color: #f88d01;
  }
  